html{
	overflow-x: hidden;
}
body{
    background-color:#4d28d1;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
	position: relative;
}
#background{
    background-color: #e5e9d0;
    padding-bottom: auto;
    min-height: 88.75vh;
    border: 8px solid #2858d1;
    border-top: none;
}

/*Navigation*/
#Nav{
    padding-right: 0px;
}
#headNav{
    display: inline;
    padding-left: 0px;
    padding-right: 0px;
    height: 5vh;
}
#logoAndHam{
    padding-right: 0px;
    display: flex;
    align-items: center;
}
#logoAndHam:hover{
    background-color: #2858d1;
}
#logo{
    height: auto;
    width: 292px;
    min-width: 10em;
    float: left;
    display: flex;
    align-items: center;
}
#linkedin{
    height: 64px;
    width: 75px;
}
#menuItem{
    padding: 1.75em 0em 1.75em 0em;
    background-color:#4d28d1;
    color: white;
}
#icon{
    padding-top: .5em;
    padding-bottom: .35em;
}
#menuItem:hover{
    background-color: #2858d1;
}
#icon:hover{
    background-color: #2858d1;
}
#menuFolder{
    font-size: 125%;
    color: white;
}
#firstMenuItem{
    display: flex;
    align-items: center;
    margin-right: 3%;
    background-color:#4d28d1;
}
#firstMenuItem:hover{
    background-color: #2858d1;
}
.js-dropdown-active{
    color: white;
}
#bottomBorder{
    border-bottom: 8px solid #2858d1;
}
#lastIcon{
    padding-right: 2em;
}
@media screen and (min-width: 65em){
    #logoAndHam{
        width: 292px;
    }
	#menuItem{
		margin-right: 3%;
	}
}
@media screen and (max-width: 39.9375em) {
    #menuFolder::after{
        right: -.25rem;
    }
    #firstMenuItem{
        justify-content: center;
    }
    #icons{
        display: block;
        text-align: center;
    }
    #icon{
        display:inline-block;
    }
    #logoAndHam{
        text-align: center;
        width: default;
    }
    #logo{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #NavLogo{
        width: auto;
		max-width: 75%;
        padding: .5em 0 .5em 0;
    }
    #NavLogo:hover{
        background-color: #2858d1;
    }
    #hamNav{
		width: auto;
		max-width: 25%;
    }
    #lastIcon{
        padding-right: 1rem;
    }
    #hamMenu{
        color: white;
        margin-bottom: 0;
        padding-top: 1.5rem;
		padding-bottom: 19%;
		padding-left: 2.4rem;
		padding-right: 3rem;
        font-size: 200%;
		-webkit-user-select: none;
		-ms-user-select: none; 
		user-select: none;
    }
    #hamMenu:hover{
        border: #2858d1;
    }
    #logoAndHam:hover{
        background-color: #4d28d1;
    }

}
@media screen and (max-width: 64em) and (min-width: 40em){
    #icons{
        display: block;
        text-align: center;
    }
    #icon{
        display:inline-block;
    }
    #logoAndHam{
        padding: .5em 0em .5em .5em;
        text-align: center;
        width: 100%;
    }
    #logo{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #menuItems{
        display: block;
        text-align: center;
        padding-left: .5em;
    }
    #menuItem{
        display: inline-block;
    }
    #lastIcon{
        padding-right: 1rem;
    }
}

/*Features*/
#feature{
    background-color: rgb(0, 88, 160);
    color: white;
    background-clip: content-box;
    margin-top: 1vh;
}
#featureClass{
    background-color: rgb(0, 88, 160);
    min-height: 40vh;
}
#featureClass img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 41vh;
}
#featureTool{
    background-color: rgb(0, 88, 160);
    min-height: 60vh;
    margin-left: 2.5em;
    margin-right: 2.5em;
}
#featureTool img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto; 
    height: 60vh;
}
#feature img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; /*Relative, ajust to fit*/
    height: auto;
}
#aside{
    background-color: grey;
    color: white;
    min-height: 40vh;
    background-clip: content-box;
    margin-top: 1vh;
}
#body{
    background-color: #c1c16b;
    background-clip: content-box;
    margin-top: 1vh;
    min-height: 30vh;
}
#lastBody{
    background-color: #c1c16b;
    background-clip: content-box;
    margin-top: 1vh;
    margin-bottom: 1vh;
    min-height: 30vh;
}
#Motivate{
    float: left;
    height: 75%;
    padding: 1vh;
    max-width: 28vh;
    max-height: 46vh;
}
#Cast{
    float: left;
    padding: 1vh;
    height: 50%;
    max-height: 25vh;
}
@media screen and (max-width: 39.9375em) {
    #feature img{
        width: 100%; /*Relative, ajust to fit*/
    }
    #featureTool img{
        width: 100%;
        height: auto;
    }
    #featureClass{
        min-height: 0px;
    }
    #featureClass img{
        width: 100%;
        height: auto;
    }
    #featureTool{
        min-height: 0px;
    }
    #aside{
        min-height: 0px;
    }
    #body{
        min-height: 0px;
    }
    #lastBody{
        min-height: 0px;
    }
    #Motivate{
        display: none;
    }
    #Cast{
        display: none;
    }
}

/*Bodies, Headers, ect.*/
#toolBody{
    background-color: #c1c16b;
    background-clip: content-box;
    margin-top: 1vh;
}
#welcome h1{
    text-align: center;
}
#welcome h4{
    text-align: center;
}
#welcome h5{
    text-align: center;
}
#aside a{
    text-decoration: underline;
}

#welcome a{;
    text-decoration: underline;
}
#welcome a:hover{
    color: rgb(0, 88, 160);
}
main a {
    color: rgb(182, 0, 0);
    text-decoration: underline;
}
main a:hover {
    color: rgb(0, 139, 205);
}
h6{
    margin-top: .5rem;
}
#toolMain{
    margin-left: 2.5em;
    margin-right: 2.5em;
}

/*footer*/
#footer{
    color: white;
    background-color: #2858d1;
    background-clip: content-box;
    padding: 1em 0px 0px  0px;
    text-align: center;
}


